div.hidden {
  display: none;
}

div.active {
  border: 5px solid red;
}

div.visible {
  display: table;
}

div.win {
  color: greenyellow;
}

div.lose {
  color: red;
}

img.bigcoin {
  width: 50px;
}

img.smallcoin {
  width: 50px;
}
